USE [master]
GO
/****** Object:  Database [HawkerCentreDB]    Script Date: 24/7/2026 4:37:53 am ******/
CREATE DATABASE [HawkerCentreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HawkerCentreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HawkerCentreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HawkerCentreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\HawkerCentreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HawkerCentreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HawkerCentreDB]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[cart_item_id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NULL,
	[item_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[complaints]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[complaints](
	[complaint_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[stall_id] [int] NULL,
	[category] [nvarchar](100) NULL,
	[description] [nvarchar](500) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[complaint_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[stall_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback_replies]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback_replies](
	[reply_id] [int] IDENTITY(1,1) NOT NULL,
	[feedback_id] [int] NOT NULL,
	[owner_id] [int] NOT NULL,
	[reply_text] [nvarchar](500) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[reply_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hygiene_grades]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hygiene_grades](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[inspection_id] [int] NULL,
	[grade] [char](1) NULL,
	[issued_date] [date] NULL,
	[valid_until] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inspections]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inspections](
	[inspection_id] [int] IDENTITY(1,1) NOT NULL,
	[stall_id] [int] NULL,
	[officer_id] [int] NULL,
	[score] [int] NULL,
	[remarks] [nvarchar](500) NULL,
	[inspection_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[inspection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[likes]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[likes](
	[like_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[item_id] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[like_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[menu_items]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[menu_items](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[stall_id] [int] NULL,
	[item_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[price] [decimal](10, 2) NOT NULL,
	[is_available] [bit] NULL,
	[image_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nea_officers]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nea_officers](
	[officer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[officer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_item_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[item_id] [int] NULL,
	[quantity] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[stall_id] [int] NULL,
	[total_price] [decimal](10, 2) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](50) NULL,
	[paid_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotions]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotions](
	[promo_id] [int] IDENTITY(1,1) NOT NULL,
	[stall_id] [int] NULL,
	[promo_name] [nvarchar](100) NULL,
	[discount_percent] [decimal](5, 2) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[promo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stall_owners]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stall_owners](
	[owner_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[owner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stalls]    Script Date: 24/7/2026 4:37:54 am ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stalls](
	[stall_id] [int] IDENTITY(1,1) NOT NULL,
	[stall_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[cuisine_type] [nvarchar](100) NULL,
	[operating_hours] [nvarchar](100) NULL,
	[hygiene_grade] [char](1) NULL,
	[owner_id] [int] NULL,
	[image_url] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[stall_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart_items] ON 

INSERT [dbo].[cart_items] ([cart_item_id], [cart_id], [item_id], [quantity], [price]) VALUES (1, 1, 1, 2, CAST(4.50 AS Decimal(10, 2)))
INSERT [dbo].[cart_items] ([cart_item_id], [cart_id], [item_id], [quantity], [price]) VALUES (2, 1, 2, 1, CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[cart_items] ([cart_item_id], [cart_id], [item_id], [quantity], [price]) VALUES (5, 2, 3, 1, CAST(5.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[cart_items] OFF
GO
SET IDENTITY_INSERT [dbo].[carts] ON 

INSERT [dbo].[carts] ([cart_id], [customer_id], [created_at]) VALUES (1, 1, CAST(N'2026-07-07T18:43:56.187' AS DateTime))
INSERT [dbo].[carts] ([cart_id], [customer_id], [created_at]) VALUES (2, 3, CAST(N'2026-07-16T01:31:04.207' AS DateTime))
SET IDENTITY_INSERT [dbo].[carts] OFF
GO
SET IDENTITY_INSERT [dbo].[complaints] ON 

INSERT [dbo].[complaints] ([complaint_id], [customer_id], [stall_id], [category], [description], [status], [created_at], [updated_at]) VALUES (1, 1, 2, N'Hygiene', N'Found hair in food', N'Under Review', CAST(N'2026-07-01T22:30:26.717' AS DateTime), CAST(N'2026-07-23T01:54:58.910' AS DateTime))
INSERT [dbo].[complaints] ([complaint_id], [customer_id], [stall_id], [category], [description], [status], [created_at], [updated_at]) VALUES (2, 3, 5, N'Food Quality', N'Very dirty kitchen', N'Pending', CAST(N'2026-07-21T16:08:41.847' AS DateTime), CAST(N'2026-07-21T16:08:41.847' AS DateTime))
INSERT [dbo].[complaints] ([complaint_id], [customer_id], [stall_id], [category], [description], [status], [created_at], [updated_at]) VALUES (3, 3, 5, N'Food Quality', N'Very dirty kitchen', N'Pending', CAST(N'2026-07-21T16:08:41.887' AS DateTime), CAST(N'2026-07-21T16:08:41.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[complaints] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [name], [email], [password_hash], [phone], [created_at]) VALUES (1, N'John Tan', N'john@email.com', N'hashedpw3', N'82223333', CAST(N'2026-07-01T22:30:06.770' AS DateTime))
INSERT [dbo].[customers] ([customer_id], [name], [email], [password_hash], [phone], [created_at]) VALUES (2, N'Sarah Lim', N'sarah@email.com', N'hashedpw4', N'93334444', CAST(N'2026-07-01T22:30:06.770' AS DateTime))
INSERT [dbo].[customers] ([customer_id], [name], [email], [password_hash], [phone], [created_at]) VALUES (3, N'jon', N'jon@gmail.com', N'$2b$10$pDVOjcYgUbvUr6ZjQh6dluwvn5jMbZaWgtlxo3/6oosZ9spWhz0C6', N'96767676', CAST(N'2026-07-07T17:35:45.067' AS DateTime))
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback] ON 

INSERT [dbo].[feedback] ([feedback_id], [customer_id], [stall_id], [rating], [comment], [created_at]) VALUES (1, 1, 1, 5, N'Amazing nasi lemak, will come back!', CAST(N'2026-07-01T22:30:16.447' AS DateTime))
INSERT [dbo].[feedback] ([feedback_id], [customer_id], [stall_id], [rating], [comment], [created_at]) VALUES (2, 2, 2, 3, N'Decent but a bit oily.', CAST(N'2026-07-01T22:30:16.447' AS DateTime))
INSERT [dbo].[feedback] ([feedback_id], [customer_id], [stall_id], [rating], [comment], [created_at]) VALUES (3, 1, 1, 4, N'Food was great, quick service!', CAST(N'2026-07-06T11:20:49.990' AS DateTime))
SET IDENTITY_INSERT [dbo].[feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[feedback_replies] ON 

INSERT [dbo].[feedback_replies] ([reply_id], [feedback_id], [owner_id], [reply_text], [created_at], [updated_at]) VALUES (1, 21, 1, N'yay!', CAST(N'2026-07-23T01:48:22.420' AS DateTime), CAST(N'2026-07-23T01:48:22.420' AS DateTime))
INSERT [dbo].[feedback_replies] ([reply_id], [feedback_id], [owner_id], [reply_text], [created_at], [updated_at]) VALUES (2, 3, 1, N'thank you!', CAST(N'2026-07-23T22:33:10.713' AS DateTime), CAST(N'2026-07-23T22:33:10.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[feedback_replies] OFF
GO
SET IDENTITY_INSERT [dbo].[hygiene_grades] ON 

INSERT [dbo].[hygiene_grades] ([grade_id], [inspection_id], [grade], [issued_date], [valid_until]) VALUES (1, 1, N'A', CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date))
SET IDENTITY_INSERT [dbo].[hygiene_grades] OFF
GO
SET IDENTITY_INSERT [dbo].[inspections] ON 

INSERT [dbo].[inspections] ([inspection_id], [stall_id], [officer_id], [score], [remarks], [inspection_date]) VALUES (1, 1, 1, 92, N'Clean workstation, good food handling practices', CAST(N'2026-01-10T00:00:00.000' AS DateTime))
INSERT [dbo].[inspections] ([inspection_id], [stall_id], [officer_id], [score], [remarks], [inspection_date]) VALUES (2, 2, 1, 78, N'Minor issues with waste disposal, follow-up required', CAST(N'2026-01-28T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[inspections] OFF
GO
SET IDENTITY_INSERT [dbo].[likes] ON 

INSERT [dbo].[likes] ([like_id], [customer_id], [item_id], [created_at]) VALUES (2, 2, 3, CAST(N'2026-07-01T22:30:19.740' AS DateTime))
INSERT [dbo].[likes] ([like_id], [customer_id], [item_id], [created_at]) VALUES (3, 1, 1, CAST(N'2026-07-06T11:22:12.897' AS DateTime))
INSERT [dbo].[likes] ([like_id], [customer_id], [item_id], [created_at]) VALUES (9, NULL, 2, CAST(N'2026-07-13T22:56:49.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[likes] OFF
GO
SET IDENTITY_INSERT [dbo].[menu_items] ON 

INSERT [dbo].[menu_items] ([item_id], [stall_id], [item_name], [description], [price], [is_available], [image_url]) VALUES (1, 1, N'Nasi Lemak Set', N'Coconut rice with egg and sambal', CAST(4.50 AS Decimal(10, 2)), 1, N'images/nasilemak.jpg')
INSERT [dbo].[menu_items] ([item_id], [stall_id], [item_name], [description], [price], [is_available], [image_url]) VALUES (2, 1, N'Teh Tarik', N'Pulled milk tea', CAST(1.50 AS Decimal(10, 2)), 1, N'images/teh.jpg')
INSERT [dbo].[menu_items] ([item_id], [stall_id], [item_name], [description], [price], [is_available], [image_url]) VALUES (3, 2, N'Char Kway Teow', N'Fried flat noodles with cockles', CAST(5.00 AS Decimal(10, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[menu_items] OFF
GO
SET IDENTITY_INSERT [dbo].[nea_officers] ON 

INSERT [dbo].[nea_officers] ([officer_id], [name], [email], [password_hash]) VALUES (1, N'Officer Wong', N'wong@nea.gov.sg', N'hashedpw5')
SET IDENTITY_INSERT [dbo].[nea_officers] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([order_item_id], [order_id], [item_id], [quantity], [price]) VALUES (1, 1, 1, 2, CAST(4.50 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([order_item_id], [order_id], [item_id], [quantity], [price]) VALUES (2, 1, 2, 1, CAST(1.50 AS Decimal(10, 2)))
INSERT [dbo].[order_items] ([order_item_id], [order_id], [item_id], [quantity], [price]) VALUES (5, 3, 2, 1, CAST(1.50 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [customer_id], [stall_id], [total_price], [status], [created_at]) VALUES (1, 1, 1, CAST(10.50 AS Decimal(10, 2)), N'Completed', CAST(N'2026-07-07T18:44:06.000' AS DateTime))
INSERT [dbo].[orders] ([order_id], [customer_id], [stall_id], [total_price], [status], [created_at]) VALUES (3, 3, NULL, CAST(6.00 AS Decimal(10, 2)), N'Paid', CAST(N'2026-07-21T16:06:30.303' AS DateTime))
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payments] ON 

INSERT [dbo].[payments] ([payment_id], [order_id], [payment_method], [payment_status], [paid_at]) VALUES (1, 1, N'PayNow', N'Completed', CAST(N'2026-07-07T18:44:15.740' AS DateTime))
INSERT [dbo].[payments] ([payment_id], [order_id], [payment_method], [payment_status], [paid_at]) VALUES (2, 3, N'NETS', N'Paid', CAST(N'2026-07-21T16:06:35.540' AS DateTime))
SET IDENTITY_INSERT [dbo].[payments] OFF
GO
SET IDENTITY_INSERT [dbo].[promotions] ON 

INSERT [dbo].[promotions] ([promo_id], [stall_id], [promo_name], [discount_percent], [start_date], [end_date], [description]) VALUES (1, 1, N'Weekday Lunch Deal', CAST(10.00 AS Decimal(5, 2)), CAST(N'2026-07-01' AS Date), CAST(N'2026-07-31' AS Date), N'10% off all items on weekdays before 2pm')
SET IDENTITY_INSERT [dbo].[promotions] OFF
GO
SET IDENTITY_INSERT [dbo].[stall_owners] ON 

INSERT [dbo].[stall_owners] ([owner_id], [name], [email], [password_hash], [phone]) VALUES (1, N'Ali Hassan', N'ali@email.com', N'$2b$10$HRTJAprudWCaeMMeG2STtOxLRm7uyMpt7hvGOTBg8dK4kQlSHwFF2', N'91234567')
INSERT [dbo].[stall_owners] ([owner_id], [name], [email], [password_hash], [phone]) VALUES (2, N'Mei Lin', N'mei@email.com', N'$2b$10$z583biFjfYyefgeDW6BLJeDOLkygFUo7Sgwm41jB9tWxjR6Qsbxhe', N'98765432')
INSERT [dbo].[stall_owners] ([owner_id], [name], [email], [password_hash], [phone]) VALUES (3, N'Ah Hock Tan', N'ahhock@example.com', N'$2b$10$XbqkDm2.Mh3Miwt/zEqhy./KCixafkVdsjqQcbTHXTLXstk26IYD.', N'91112222')
SET IDENTITY_INSERT [dbo].[stall_owners] OFF
GO
SET IDENTITY_INSERT [dbo].[stalls] ON 

INSERT [dbo].[stalls] ([stall_id], [stall_name], [description], [cuisine_type], [operating_hours], [hygiene_grade], [owner_id], [image_url]) VALUES (1, N'Ali Nasi Lemak', N'Best nasi lemak in the centre', N'Malay', N'7am-3pm', N'A', 1, N'images/ali.jpg')
INSERT [dbo].[stalls] ([stall_id], [stall_name], [description], [cuisine_type], [operating_hours], [hygiene_grade], [owner_id], [image_url]) VALUES (2, N'Mei Char Kway Teow', N'Classic Hokkien fried noodles', N'Chinese', N'11am-8pm', N'B', 2, NULL)
INSERT [dbo].[stalls] ([stall_id], [stall_name], [description], [cuisine_type], [operating_hours], [hygiene_grade], [owner_id], [image_url]) VALUES (3, N'Ah Hock Fishball Noodles', N'Springy fishballs and handmade noodles', N'Chinese', N'8am-4pm', N'A', 3, NULL)
SET IDENTITY_INSERT [dbo].[stalls] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__customer__AB6E616475EED98D]    Script Date: 24/7/2026 4:37:54 am ******/
ALTER TABLE [dbo].[customers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_reply_per_feedback]    Script Date: 24/7/2026 4:37:54 am ******/
ALTER TABLE [dbo].[feedback_replies] ADD  CONSTRAINT [UQ_reply_per_feedback] UNIQUE NONCLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [unique_like]    Script Date: 24/7/2026 4:37:54 am ******/
ALTER TABLE [dbo].[likes] ADD  CONSTRAINT [unique_like] UNIQUE NONCLUSTERED 
(
	[customer_id] ASC,
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__nea_offi__AB6E616419954DA1]    Script Date: 24/7/2026 4:37:54 am ******/
ALTER TABLE [dbo].[nea_officers] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__stall_ow__AB6E61641BAA354F]    Script Date: 24/7/2026 4:37:54 am ******/
ALTER TABLE [dbo].[stall_owners] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[complaints] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[complaints] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[feedback] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[hygiene_grades] ADD  DEFAULT (getdate()) FOR [issued_date]
GO
ALTER TABLE [dbo].[inspections] ADD  DEFAULT (getdate()) FOR [inspection_date]
GO
ALTER TABLE [dbo].[likes] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[menu_items] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ('Pending') FOR [payment_status]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([cart_id])
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[menu_items] ([item_id])
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[complaints]  WITH CHECK ADD FOREIGN KEY([stall_id])
REFERENCES [dbo].[stalls] ([stall_id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD FOREIGN KEY([stall_id])
REFERENCES [dbo].[stalls] ([stall_id])
GO
ALTER TABLE [dbo].[feedback_replies]  WITH CHECK ADD  CONSTRAINT [FK_reply_feedback] FOREIGN KEY([feedback_id])
REFERENCES [dbo].[feedback] ([feedback_id])
GO
ALTER TABLE [dbo].[feedback_replies] CHECK CONSTRAINT [FK_reply_feedback]
GO
ALTER TABLE [dbo].[feedback_replies]  WITH CHECK ADD  CONSTRAINT [FK_reply_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[stall_owners] ([owner_id])
GO
ALTER TABLE [dbo].[feedback_replies] CHECK CONSTRAINT [FK_reply_owner]
GO
ALTER TABLE [dbo].[hygiene_grades]  WITH CHECK ADD FOREIGN KEY([inspection_id])
REFERENCES [dbo].[inspections] ([inspection_id])
GO
ALTER TABLE [dbo].[inspections]  WITH CHECK ADD FOREIGN KEY([officer_id])
REFERENCES [dbo].[nea_officers] ([officer_id])
GO
ALTER TABLE [dbo].[inspections]  WITH CHECK ADD FOREIGN KEY([stall_id])
REFERENCES [dbo].[stalls] ([stall_id])
GO
ALTER TABLE [dbo].[likes]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[likes]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[menu_items] ([item_id])
GO
ALTER TABLE [dbo].[menu_items]  WITH CHECK ADD FOREIGN KEY([stall_id])
REFERENCES [dbo].[stalls] ([stall_id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([item_id])
REFERENCES [dbo].[menu_items] ([item_id])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([stall_id])
REFERENCES [dbo].[stalls] ([stall_id])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[promotions]  WITH CHECK ADD FOREIGN KEY([stall_id])
REFERENCES [dbo].[stalls] ([stall_id])
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
